html {
    background-image: url(../img/fund.png);
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100%;
}

.bem_vindo{
    text-align: center;
    margin-top: 5%;
    font-size: 30pt;
}

button {
    display: flex;
    justify-content: center;
    margin-left: 45%;
    margin-top: 3%;
    width: 180px;
    padding: 5px 0px 5px 0px;
    font-size: 18pt;
    border-radius: 12px;
    background-color: #C1B7B7;
    border: 3px solid #000000;
    cursor: pointer;
}
button:hover{
    width: 180px;
    padding: 3px 2px 3px 2px;
    font-size: 18pt;
    border-radius: 12px;
    background-color: grey;
    border: 3px solid #000000;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000000;
}

#form-cadastro {
    color: white;
}
h1{
    color: white;
}